@tailwind base;
@tailwind components;
@tailwind utilities;

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.checkbox-custom {
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

.completed-task {
    text-decoration: line-through;
    color: #ccc;
}